<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document Upload and Preview</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %> <!-- Ensure the stylesheet is linked properly -->
    <!-- Header with Logo and Menu side by side -->
    <header class="header">
      <div class="logo-section">
      <%= link_to root_path do %>
        <%= image_tag 'pdf-fusion-logo.png', alt: 'PDF Fusion Logo', class: 'logo', width: "110", height: "auto" %>
        <% end %>
      </div>
      <nav class="menu">
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "About", about_path %></li>
        </ul>
      </nav>
    </header>
</head>
<body>
  <div class="container">
  

    <!-- CSV Upload Form -->
    <div class="upload-section">
      <div>   
      <h5>File Management</h4>
      <%= form_with url: upload_csv_path, local: true, multipart: true do %>
      <div>
        <%= file_field_tag :file, accept: ".csv" %>
      </div>
        <%= submit_tag "Upload CSV", class: "btn btn-upload" %>
        <a href="<%= download_pdf_path %>" class="btn btn-primary mt-2 mx-3">Download PDF</a>
      <% end %>
    </div>

    <!-- Download Button -->
    <div class="download-section align-bottom">
    </div>
    </div>
    <!-- PDF Preview Section -->
    <div class="pdf-preview-section">
      <%= render 'template' %> <!-- Render the template directly -->
    </div>
  </div>
</body>
<footer>
  <div class="footer-links">
    <%= link_to "Home", root_path %>
    <%= link_to "About", about_path %>
  </div>
  <p class="footer-copyright">
    &copy; <%= Time.now.year %> PDF Fusion. All rights reserved.
  </p>
</footer>
</html>
