<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= content_for(:title) || "PDF CSV Uploader" %></title>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <!-- Favicon -->
  <%= favicon_link_tag "pdf-fusion-logo.png", rel: "icon", type: "image/png" %>
  <%= favicon_link_tag "pdf-fusion-logo.png", rel: "apple-touch-icon" %>

  <!-- Stylesheets -->
  <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>

  <!-- JavaScript -->
  <%= javascript_importmap_tags %>

</head>

<body>
  <%= yield %>
</body>
</html>
